@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);

  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
}

/*
## Typography

### Body Copy

- Font size (quote): 28px

### Font

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 800



*/

* {
  color: var(--lightCyan);
  margin: 0px;
  padding: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
}

body {
  background-color: var(--darkBlue);
}

.container {
  /*border: solid 1px red;*/
  background-color: hsl(217, 19%, 24%);
  width: 75%;
  max-height: 400px;
  min-height: 400px;
  height: 30vh;
  padding: 30px;
  margin: 50% auto;
  border-radius: 10px;
  position: relative;
}

.container_paragraph {
  margin: 4vh auto;
  text-align: center;
  font-size: 28px;
}

.container_imgDivider {
  margin: 3vh auto;
  width: 75vw;
  position: relative;
  top: 6vw;
}

.container_label {
  color: var(--neonGreen);
  display: block;
  text-align: center;
}

.container_divButton {
  background-color: var(--neonGreen);
  width: 25px;
  padding: 15px 20px 10px;
  border-radius: 50%;

  position: absolute;
  bottom: 0px;

  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -5%;
}

.container_divButton:hover {
  background-color: var(--neonGreen);
  box-shadow: 0 0 10px var(--neonGreen), 0 0 40px var(--neonGreen),
    0 0 80px var(--neonGreen);
}

.divButton_imgButton {
  margin: auto;
  padding: 1px;
}

@media (max-width: 640px) {
  .container_divButton {
    background-color: var(--neonGreen);
    width: 25px;
    padding: 15px 20px 10px;
    border-radius: 50%;
    /*display: flex;
          justify-content: center;*/
    position: absolute;
    bottom: -15px;

    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -5%;
    /*margin: 3vh auto;*/
  }

  .container_imgDivider {
    margin: 3vh auto;
    width: 75vw;
    position: relative;
    top: 1vw;
  }
}

@media (max-width: 400px) {
  .container_imgDivider {
    margin: 1vh auto;
    width: 75vw;
    position: relative;
    top: -5vw;
  }
}
